/* Transform */

.content {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.item {
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    transition: transform  0.5s;
}

.item_1 {
    transform: rotate(600deg);
}
