* {
    box-sizing: border-box;
}

.parent {
    font-size: 0px;
    width: 1000px;
    margin 0 auto;
    background-color: aqua;
}

.element {
    font-size: 14px;
    outline: 1px solid black;
    display: inline-block;
    width: 333px;
} 