.pix {
    display: block;
    border: 1px solid rgba(red, green, white 0.3);
    width: 1920px;
    height: 1080px;
    background-image: url('https://avatars.mds.yandex.net/i?id=b20d9d831f3241db3d2be8a33977a6fe_l-4767164-images-thumbs&n=13');   
    background-position: center center;
    
}