.child {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0; /* <-- если поставить 1, то мы разрешим сжатие*/
    min-height: 150px;
    background-color: lightskyblue;
    margin: 10px;
    padding: 20px;
}

.parent {
    display: flex;
}

.test {
    flex-shrink: 1;
}